<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Model22" connectionString="XpoProvider=Oracle;user id=MEGA; password=megamega; data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=vmmega)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TEMPLATE)));"/>
  </connectionStrings>
</configuration>